/*
 ===== SUMÁRIO =====
 01. Geral
 02. Topo
 03. Abas principais
 04. Abas de publicações
 05. Abas de publicações: conteúdo
 06. Botões
 07. Cartões
 08. Publicações
 09. Paginação
 10. Rodapé
 ===================
*/


/* 01. Geral */

body {
  background-color: #f0f0f0;
  padding: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 02. Topo */

nav {
  background: #013977; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #013977 0%, #066cab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #013977 0%,#066cab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #013977 0%,#066cab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013977', endColorstr='#066cab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#logo img {
  margin-top: 15px;
  height: 30px;
}

#logo:hover {
  background-color: transparent;
}

nav,
.tabs {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #dadada;
}

/* 03. Abas principais */

.main-tabs .indicator {
    background-color: #2196f3 !important;
}

.main-tabs .tab a.active {
  color: #2196f3 !important;
  background-color: rgba(0,0,0,0.1);
}

.main-tabs .tab a {
  color: #6f6f6f !important;
  text-transform: capitalize;
}

.main-tabs {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  border-bottom: 1px solid #dadada;
  background-color: transparent;
}

/* 04. Abas de publicações */

.publi-tabs .indicator {
    background-color: #2196f3 !important;
}

.publi-tabs .tab a {
  color: #6f6f6f !important;
  text-transform: capitalize;
}

.publi-tabs {
	box-shadow: none;
  background-color: transparent;
  border-bottom: none !important;
}

.publi-tabs .tab a.active {
  background-color: #fff !important;
}

/* 05. Abas de publicações: conteúdo */

#all {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
  color: #777 !important;
}

#all .row {
  padding: 10px;
}

.space-right {
  margin-right: 10px;
}

label.space-right {
  padding-left: 25px;
}

label.space-right::after {
  background-color: #dadada !important;
  border: 2px solid #dadada !important;
  height: 15px !important;
  width: 15px !important;
  top: 4px !important;
}

#filter {
  margin-top: 40px;
}

.buttons-wrapper {
  margin-top: 25px;
  background-color: #3782c3;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
}

.buttons-wrapper i {
  color: #fff !important;
  padding: 4px;
}

input#search {
  border: 3px solid #f4f4f4;
  background-color: #f9f9f9;
  border-radius: 4px;
  max-width: 300px !important;
}

.filter-pill {
  background-color: #f9f9f9;
  border: 1px solid #eaeef2;
  color: #000;
  padding: 9px;
  border-radius: 4px;
}

.filter-pill::after {
  font-family: FontAwesome;
  content: ' \f00d';
}

.filter-buttons-wrapper {
  margin-top: 10px !important;
}

/* 06. Botões */

.btn {
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-transform: capitalize;
}

.btn i {
  font-size: 14px;
}

.hollow-btn {
  background-color: #f9f9f9;
  border: 1px solid #eaeef2;
  color: #7189a6;
  box-shadow: none;
}

.hollow-btn:hover {
  background-color: #f9f9f9;
}

.hollow-dropdown li a {
  color: #7189a6;
}

.action-btn {
  text-transform: uppercase;
  font-weight: bold;
}

.actions-dropdown li a {
  color: #0277bd;
}

/* 07. Cartões */

.badge-custom {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-img {
  vertical-align: middle;
}

.card {
  min-height: 200px;
}

.card-title {
  background-color: #f6f6f6;
  color: #4a88be;
  padding: 10px;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold !important;
  border-left: 2px solid #3a70b5;
  border-bottom: 1px solid #dce3eb;
}

.card-title i {
  color: #ccc;
  font-size: 14px;
}

.card-content {
  padding: 0 !important;
}

.card-content p {
  padding: 10px;
}

/* 08. Publicações */

.publication-item {
  color: #b3b3b3;
  margin-bottom: 0 !important;
  padding: 20px !important;
}

.publication-item label::after {
  background-color: #d7d7d7 !important;
  border: 1px solid #d7d7d7 !important;
}

.publication-item p {
  margin: 0;
}

.new-badge {
  background-color: #26c281;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.read-badge {
  background-color: #5c9bd1;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.publication-hl {
  color: #8e8e8e;
  font-weight: bold;
}

.publication-options {
  margin-left: 10px;
}

.publication-options a {
  color: #b3b3b3;
}

.publication-item:nth-child(even),
.publication-item:hover{
    background-color: #f9f9f9;
}

/* 09. Paginação */

.pag .active {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #4679BD;
  text-align: center;
}

.pag .active span {
  color: #fff;
}

.search-wrapper input {
  display: inline-block;
  max-width: 50px;
  border: 1px solid #ddd;
  padding: 5px !important;
  height: 13px;
  margin: 0;
  margin-left: 5px;
  border-radius: 0 4px 4px 0;
}

.search-wrapper input:focus {
  border-bottom: 1px solid #4679BD !important;
  box-shadow: 0 1px 0 0 #4679BD !important
}

.search-wrapper button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.search-wrapper {
  display: inline-block;
  position: relative;
}

.pag,
.pag-actions {
  display: inline-block;
}

/* 10. Rodapé */

footer.container-fluid {
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.1);
  background-color: #fff !important;
  color: #727272 !important;
  font-weight: 500 !important;
  margin-top: 20px;
}